# Dependencies
node_modules/

# Environment variables (JANGAN sampai ke GitHub!)
.env
.env.local
.env.production

# Prisma
prisma/migrations/dev.db

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/